<p-panel header="Bitte wählen Sie eine der folgenden Optionen:">
  <div class="centered">
    <div class="height50"></div>
    <div>
      <button id="longbutton" type="button" (click)="login()" icon="" label="Mit Benutzerdaten anmelden" pButton></button>
    </div>
    <div class="height50"></div>
    <div>
      <button id="longbutton" type="button" (click)="createAccount()" icon="" label="Ein Kundenkonto erstellen" pButton></button>
    </div>
    <div class="height50"></div>
    <div>
      <button id="longbutton" type="button" (click)="guestOrder()" icon="" label="Bestellung als Gast" pButton></button>
    </div>
    <div class="height50"></div>
  </div>
</p-panel>